a {
	text-decoration: none;
}

address a {
	color: #000000;
}

body {
	font-family: "ms sans serif";
	font-weight: bold;
}

footer {
	text-align: right;
	width: 100%;
}

li {
	font-size: larger;
	list-style-type: none;
}

p {
	text-indent: 2em;
}

table,
tr,
td {
	border: 1px solid black;
	font-size: large;
	text-align: center;
	border-collapse: collapse;

}

th {
	cursor: pointer;
}

#left {
	float: left;
	width: 40%;
	height: 25em;
}

#right {
	float: left;
	width: 60%;
	height: 25em;
}

#sign {
	text-align: right;
	font-style: italic;
	font-size: large;
}
